* {
    box-sizing: border-box;
  }


  [class*="col-"] {
      width: 100%;

      float: left;
  }


  @media only screen and (min-width: 600px) {
      .col-m-1 {width: 8.33%;}
      .col-m-2 {width: 16.66%;}
      .col-m-3 {width: 25%;}
      .col-m-4 {width: 33.33%;}
      .col-m-5 {width: 41.66%;}
      .col-m-6 {width: 50%;}
      .col-m-7 {width: 58.33%;}
      .col-m-8 {width: 66.66%;}
      .col-m-9 {width: 75%;}
      .col-m-10 {width: 83.33%;}
      .col-m-11 {width: 91.66%;}
      .col-m-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
      .col-1 {width: 8.33%;}
      .col-2 {width: 16.66%;}
      .col-3 {width: 25%;}
      .col-4 {width: 33.33%;}
      .col-5 {width: 41.66%;}
      .col-6 {width: 50%;}
      .col-7 {width: 58.33%;}
      .col-8 {width: 66.66%;}
      .col-9 {width: 75%;}
      .col-10 {width: 83.33%;}
      .col-11 {width: 91.66%;}
      .col-12 {width: 100%;}
  }
  @media only screen and (min-width: 1000px) {
      .col-r-1 {width: 8.33%;}
      .col-r-2 {width: 16.66%;}
      .col-r-3 {width: 25%;}
      .col-r-4 {width: 33.33%;}
      .col-r-5 {width: 41.66%;}
      .col-r-6 {width: 50%;}
      .col-r-7 {width: 58.33%;}
      .col-r-8 {width: 66.66%;}
      .col-r-9 {width: 75%;}
      .col-r-10 {width: 83.33%;}
      .col-r-11 {width: 91.66%;}
      .col-r-12 {width: 100%;}
  }

  .col-0 {
    width: 0%;
  }

  .row::after {
      content: "";
      clear: both;
      display: table;
  }

  html {
    position: relative;
    height: 100%;
  }

  html, body {
    width: 100%;

    margin: 0;
      padding: 0;
    position: relative;
  }

  body {
    min-height: 100%;

    background: rgb(85, 53, 160);
    background: url("../img/Jazz.jpg") no-repeat center fixed;
    background-size: cover;
  }

  header {
    margin: auto;
    width: 80%;
  }

  header h1 {
    margin: auto;
    text-align: center;

    color: white;
    font-size: 2em;
  }

  header h1 span {
    font-size: 2.5em;
    color: rgb(181, 237, 255);
  }

  header h2 {
    margin: auto;a
      text-align: center;

      font-size: 1.2em;
    color: rgb(232, 234, 234);
  }

  header h2 span {
    color: rgb(181, 237, 255);
  }

  #bebop h1 {
    font-size: 2.5rem;
    color: rgb(181, 237, 255);
  }

  body:after {
      content: '';
      display: block;
      height: 100px;
  }

  footer {
      background: rgb(181, 237, 255);
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      text-align: center;
      height: auto;
      padding-top: 2vh;
      padding-bottom: 2vh;
      z-index: 999;
    }

  footer pre {
    margin: auto;
    position: relative;
    bottom: 0%;
  }

  a {
    text-decoration: none;
  }

  section {
    font-size: 2em;
    height: 100%;
    margin-left: 10vw;

    padding: 10vw;
    padding-top: 0;
  }

  section p span {
    font-size: 1.4em;
    color: rgb(181, 237, 255);
  }

  section p {
    color: white;
    font-size: 1em;

    word-break: break-all;
    word-wrap: break-word;
    white-space: normal;
  }

  nav {
    overflow: hidden;
    word-break: break-all;
    word-wrap: break-word;
    position: fixed;
    height: 100%;
    top: 0;
    background: #3cafe0;
  }

  nav ul {
    position: relative;
    list-style-type: none;
  }

  nav div {
    text-decoration: none;
    margin: auto;
    color: white;
    font-size: 1.2em;
    position: relative;

    display: block;
    text-align: center;
    padding: 1vw;
    padding-top: 2vh;
  }

  nav div:hover {
    cursor: pointer;
    background: rgb(181, 237, 255);
  }

  nav div .active {
    background-color: rgb(181, 237, 255);
    color: rgb(85, 53, 160);
  }

  nav div.option:hover a {
    transition: color 0.6s;
    color: rgb(85, 53, 160);
  }

  nav div.option {
    height: auto;
  }
  nav div.option a {
    text-decoration: none;
    color: white;
  }

  nav div.option#navBreak {
      cursor: default;
  }

  nav div.option#navBreak:hover {
      background: #3cafe0;
  }


  @media only screen and (max-width: 1000px) {
      nav#deskNav {
          display: none;
          width: 100%;
      }
  }



  .navTrigger {
      position: fixed;
      display: block;
      top: 5vh;
      left: 5vw;
      cursor: pointer;
      z-index: 1001;
  }

  .bar1, .bar2, .bar3 {
      width: 35px;
      height: 5px;
      background-color: rgb(181, 237, 255);
      margin: 6px 0;
      transition: 0.4s;
  }

  /* Rotate first bar */
  .change .bar1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
      transform: rotate(-45deg) translate(-9px, 6px) ;
      background-color: rgb(85, 53, 160);
  }

  /* Fade out the second bar */
  .change .bar2 {
      opacity: 0;
      background-color: rgb(85, 53, 160);
  }

  /* Rotate last bar */
  .change .bar3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
      transform: rotate(45deg) translate(-8px, -8px) ;
      background-color: rgb(85, 53, 160);
  }

  @media only screen and (min-width: 1000px) {
      .navTrigger {
          display: none;
      }
      nav#deskNav {
        display: block;
      }
  }


  @media only screen and (max-width: 1000px) {
      .navTrigger {
        display: block;
      }
      nav#deskNav {
        display: none;
        width: 100%;
      }
  }

  @media only screen and (width: 1000px) {
      .navTrigger {
          display: block;
      }
      nav#deskNav {
        display: none;
      }
  }

  nav#deskNav {
    z-index: 1000;
    overflow: auto;
  }

  .tabcontent {
    display: none;
  }

  .tabcontent#def {
    display: block;
  }


  .card {
    position: relative;
    height: 30vh;
    margin-bottom: 5vh;
    margin-right: 5vw;
  }

  .card img {
    height: 30vh;
    width: 100%;
  }

  .gallery {
    margin-left: 5vw;
    margin-top: -5vw;
  }


  .card .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(181, 237, 255);
    overflow: hidden;
    transition: .5s ease;
    width: 100%;
    cursor: default;
  }

  .artist {
    white-space: nowrap;
    color: black;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  @media only screen and (max-width: 600px) {
    .overlay {
      width: 100%;
    }
  }


  .card {
    cursor: pointer;
    transition: 0.4s;
  }

  .card img:hover{
    opacity: 0.8;
  }
  
  .modal-content:hover img {
    opacity: 1;
  }
  
  .modal-content:hover {
  	cursor: default;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
  }

  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: rgb(181, 237, 255);
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 1001;
  }

  .close:hover, .close:focus {
    color: rgb(232, 234, 234);
    text-decoration: none;
    cursor: pointer;
  }


  .modal-content {
    overflow: auto;
    background-color: rgb(85, 53, 160);
    background-color: rgba(85, 53, 160, 1);
    padding: 20px;
    border: 1px solid #888;
    width: 88vw;
    height: 85vh;
    margin: auto;
    position: relative;
    margin: auto;
    margin-top: 7vh;
    left: 4.5vw;
    opacity: 100%;
    z-index: 100;
  }

  .modal-content img {
    float: left;
    height: 30vh;
    width: 20vw;
    margin: 2vh 2vw;
  }

  .modal-content h1 {
    text-align: center;
    font-size: 2.5rem;
    color: rgb(181, 237, 255);
  }

  .modal-content p {
    color: white;
    word-break: break-all;
    word-wrap: break-word;
  }
